body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}
.search-container {
    position: fixed;
    top: 35%;
    left: 49%;
    transform: translate(-52%, -50%);
    width: 50%;
    max-width: 400px;
    transition: top 0.5s ease, transform 0.5s ease;
}
.search-header {
    margin-left: 10px;
}

.search-header p {
    font-size: 16px;
    color: #333;
    margin: 5px
}
.search-header h1 {
    font-size: 32px;
    color: #333;
    margin: 0 0 10px 0;
}
.search-container.top {
    top: 70px;
    transform: translate(-52%, 0);
}

.search-container.top .search-header p {
    display: none;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
    padding-bottom: 10px;
}
.quotes-container {
    margin-top: 150px;
    padding: 20px;
    text-align: center;
}
.quote-detail {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}
.quote-item {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
.quote-author {
    font-size: 16px;
    color: #555;
}
.no-quotes {
    font-size: 18px;
    color: #888;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    color: black;
    text-align: center;
    padding: 10px 20px;
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.contact-button {
    /* background-color: #555; */
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.contact-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Below the dialog but above other content */
}


.contact-dialog {
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.dialog-content {
    font-size: 16px;
    color: #333;
}

.close-dialog {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.close-dialog:hover {
    background-color: #555;
}

.contact-dialog a {
    color: #007BFF;
    text-decoration: none;
}

.contact-dialog a:hover {
    text-decoration: underline;
}

.contribute-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.contribute-button:hover {
    background-color: #0056b3;
}

.quick-create-form {
    display: none;
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
}

.quick-create-form h2 {
    margin-top: 0;
}

.quick-create-form textarea,
.quick-create-form input,
.quick-create-form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-author-form {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}